.hero-section {
  font-family: 'Libre Baskerville';
  
}

.hero {
  width: 25%;
  min-width: 250px;
  max-width: 450px;
}

.navbar {
  background-color: white;
  box-shadow: none;
  & .navbar-brand, .nav-link {
    color: #bc935e;
  }
  & .navbar-brand {
    font-size: 1.75em;
  }
}

.navbar.scrolling-navbar {
  transition:background .5s ease-in-out,padding .5s ease-in-out;
  padding-top:20px;
  padding-bottom:20px
}

.navbar-brand {
  font-family: 'bangers';
  padding: 0 5px;
  & span {
    font-family: 'helvetica';
  }
}

.title {
  font-family: 'bangers';
  font-size: 4em;
  color: #c99f69;
}



