@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.img-1, .img-2, .img-3 {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.img-3 {
  background-position: 75% 50% !important;
}

.img-1 {
  background: url('https://images.unsplash.com/photo-1539192009026-4163d2da8925?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2690&q=80');
}

.img-2 {
  background: url('https://images.unsplash.com/photo-1462664450306-25ad625a342b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}

.img-3 {
  background: url('https://cdn.pixabay.com/photo/2017/02/25/23/50/autumn-2099059_1280.jpg');
}

.gallery-text {
  max-width: 500px;
  top: 35%;
  left: 10%;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15)
}