@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.img-1, .img-2, .img-3 {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.img-1 {
  background: url('https://images.unsplash.com/photo-1539192009026-4163d2da8925?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2690&q=80');
}

.img-2 {
  background: url('https://images.unsplash.com/photo-1462664450306-25ad625a342b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}

.img-3 {
  background: url('https://images.unsplash.com/photo-1522057306606-8d84daa75e87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}

.gallery-text {
  max-width: 500px;
  top: 35%;
  left: 10%;
  text-shadow:
}